* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1190px) {
  .container {
    max-width: 1190px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-menu-list {
  display: none;
}

.header-soc-list {
  display: none;
}

.header-mob-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-mob-icon {
  display: block;
  stroke-width: 2.5px;
  stroke: #0c0c0c;
}

.hero {
  padding-top: 60px;
  padding-bottom: 30px;
}

.hero-block {
  margin-bottom: 28px;
}

.hero-title {
  font-size: 36px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
  max-width: 335px;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 335px;
  margin-bottom: 20px;
}

.hero-img {
  display: flex;
  flex-wrap: nowrap;
  /* padding-bottom: 28px; */
}

.hero-img-foto {
  display: flex;
  margin-bottom: auto;
  position: relative;
  width: 44px;
  height: 44px;
}

.hero-img-foto img:not(:first-child) {
  margin-left: -11px;
}

.hero-scroll-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  color: #3350e9;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero-block {
    display: flex;
    gap: 11px;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-title {
    font-weight: 600;
    font-size: 53px;
    line-height: 0.86;
    max-width: 557px;
  }

  .hero-text {
    font-weight: 400;
    font-size: 14px;
    max-width: 475px;
    margin-bottom: 0;
  }

  .hero-img {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .hero-img-foto {
    width: 56px;
    height: 56px;
    left: 0;
  }

  .hero-scroll-btn {
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-top: auto;
  }
}

@media screen and (min-width: 1190px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero-title {
    font-size: 72px;
    max-width: 655px;
  }

  .hero-text {
    font-weight: 500;
    font-size: 16px;
    max-width: 525px;
  }

  .hero-img {
    width: 155px;
  }

  .hero-img-foto {
    width: 60px;
    height: 60px;
  }
}
