body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
}
.header-nav {
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
}
