* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1190px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  gap: 200px;
  align-items: center;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #0c0c0c;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-soc-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.header-soc-item {
}

.header-soc-link {
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-soc-icon {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  fill: #0c0c0c;
  opacity: 0.8;
}

.header-soc-icon:hover,
.header-soc-icon:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
  fill: #3350e9;
}

.hero {
  padding-top: 80px;
  padding-bottom: 50px;
}

.hero-block {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.hero-block-text {
}

.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
  max-width: 697px;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 550px;
}

.hero-img {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.hero-img-foto {
  display: flex;
  margin-bottom: auto;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-left: auto;
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  color: #3350e9;
}

.hero-img-watch {
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-container {
  display: flex;
  gap: 40px;
}

.about-block {
  border-radius: 50px;
  max-width: 580px;
  height: 532px;
  background-color: #f3f3f3;
  padding: 80px 60px 168px;
}

.about-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.about-block-text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 460px;
  height: 200px;
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.about-text-first {
}

.about-catalog-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  margin-top: 20px;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border: none;
}

.about-catalog-btn:hover,
.about-catalog-btn:focus {
  background: #1f3cd4;
}

.about-img {
}

.advertisement {
  padding-top: 50px;
  padding-bottom: 50px;
}

.advertisement-container {
  display: flex;
  background-image: url(../images/advertisement-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  background-color: #0c0c0c;
  padding: 80px;
}

.advertisement-bg {
}

.advertisement-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 780px;
}

.advertisement-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  margin-left: auto;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: transparent;
}

.advertisement-btn:hover,
.advertisement-btn:focus {
  border: 1px solid rgba(251, 251, 251, 0.15);
  color: #0c0c0c;
  background: #fbfbfb;
}

.advertisement-accent {
  color: rgba(251, 251, 251, 0.5);
}

.sale {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sale-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.97;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.sale-block {
  display: flex;
  gap: 40px;
}

.sale-block-img {
  display: flex;
  gap: 20px;
}

.sale-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sale-item {
}

.sale-link {
}

.sale-dig {
}

.sale-block-text {
  width: 530px;
  height: 558px;
  border-radius: 50px;
  background-color: #3350e9;
}

.sale-subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 560px;
  padding-top: 60px;
  padding-right: 80px;
  padding-left: 60px;
  margin-bottom: 80px;
}

.sale-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  max-width: 560px;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.97;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  gap: 20px;
}

.reviews-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 30px;
  padding: 32px 18px;
  width: 370px;
  height: 272px;
  background-color: #f3f3f3;
}

.reviews-item-ex {
  /* padding: 32px 20px; */
}

.reviews-item-img {
  flex-shrink: 0;
}

.reviews-item-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

.footer {
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 126px;
  border-radius: 30px;
  padding-block: 40px 28px;
  padding-inline: 40px;
  background-color: #0c0c0c;
}

.footer-block {
  display: flex;
}

.footer-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.footer-list {
  display: flex;
  gap: 10px;
}
.footer-item {
}
.footer-link {
}

.footer-soc-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  opacity: 0.8;
  fill: #fbfbfb;
}

.footer-soc-icon:hover,
.footer-soc-icon:focus {
  opacity: 1;
}

.footer-block-text-address {
  display: flex;
  gap: 147px;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 565px;
}
.footer-address {
}

.footer-address-tel {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  padding: 15px;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-item {
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
}

.footer-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
}
